<!DOCTYPE html>
<html>
<head>
   
        </head >
        <body >
        <h1 style="background-color:DodgerBlue;">Welcome to Sharice HTML!</h1>
        <h2 style="background-color:Tomato;">Please click on the button below to start the Visual Webpage</h2>
        

        <button onclick="myFunction()" > Visual Webpage</button >

        <script >
        function myFunction() {
            location .replace("/../../../index.html")
        }

        </script >

        </body >
        </html >

