<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <style>
  </style>
  <!-- Load d3 -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <!-- Load plotly.js into the DOM -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>

<body>
	<div class="row">
        <div class="col-md-12">
          <div class="well"></div>
    <div>
        <div id='sunburstPlot'><h1 style="text-align:center;">Emmy Nominations by Network & Program</h1><!-- Plotly chart will be drawn inside this DIV --></div>
        <br>
    </div>
<script src= "/static/js/alison.js"></script>

</body>

</html>