<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Project 2</title>
  <link rel="stylesheet" href="../static/css/swiper-bundle.css">
  <link rel="stylesheet" href="../static/css/swiper-bundle.min.css">

  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="../static/css/style.css">
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Analysis of TV Viewing Habits</h1>
        <p></p>
      </div>
    </div>
  <!-- Swiper -->
  <!-- Slider main container -->
<div class="swiper-container">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
         <!-- CHANDLER VISUAL -->
         <iframe src="{{ url_for ('Chandler')}}" width="1000" height="1000"></iframe>
  </div>
    <div class="swiper-slide">
      <!-- Stephen VISUAL -->
      <iframe src="{{ url_for ('Stephen')}}" width="1000" height="1000"></iframe>
    </div>
    <!-- Alison VISUAL -->
    <div class="swiper-slide"><iframe src="{{ url_for ('alison')}}" width="1000" height="1000"></iframe></div>

  </div>

  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>

<!--
<img src="{{ url_for ('wordcloud')}}" class="img-fluid" alt="">
-->


  <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="../static/js/app.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</body>

</html>