<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chandlers visual</title>
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <link rel=“stylesheet” type=“text/css” href=“/static/css/style.css” />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Project Name</h1>
        <p>Project decription</p>
      </div>
    </div>

    <!-- Slider main container -->
    <div class="swiper-container">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <!-- CHANDLER VISUAL -->
          <div class="col-md-12 text-center">
            <h1>A Look Into Yearly Imdb Data For TV Shows On Streaming Platforms</h1>
          </div>
          <div class="row">
            <div class="col-md-2">
              <div class="well">
                <h5>Years (2016-2021)</h5>
                <select id="selDataset" onchange="optionChanged(this.value)"></select>
              </div>
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">Platforms Total Show Count</h3>
                </div>
                <div id="sample-metadata" class="panel-body"></div>
              </div>
            </div>
            <div class="col-md-10">
              <div id="bar"></div>
            </div>
            <div class="col-md-12">
              <div id="bar2"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">

      </div>
      <div class="col-md-12 text-center">
        <h1>Comparison of Ratings and Emmy Nominations</h1>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="well">
            <div>
              <br>
              <h3>Dropdown</h3>
              <select id="asdrop" onchange="optionChanged(this.value)"></select>
            </div>
            <div>
              <br>
              <div id="plot"></div>
              <br>
            </div>


          </div>
          <!-- If we need pagination -->
          <div class="swiper-pagination"></div>

          <!-- If we need navigation buttons -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>

          <!-- If we need scrollbar -->
          <div class="swiper-scrollbar"></div>
        </div>

        <div class="col-md-12">
          <img src="../test_image/wordcloud_shows.png" alt="">
        </div>


        <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="/static/js/test.js"></script>


</body>


</html>